@model List<StudentVM>

@{
    ViewData["Title"] = "Student By School";
    ViewData["pageTitle"] = "Student List Base on School";
}
@if (Context.Session.GetString("userLoginName") != null)
{
    <div class="d-md-flex justify-content-center">
        <div class="col-md-8">
            <table class="" id="studentList">
                <thead>
                    <tr>
                        <th>
                            Student Id
                        </th>
                        <th>
                            Name
                        </th>
                        <th>
                            RollNo
                        </th>
                        <th>
                            Class
                        </th>
                        <th>
                            School
                        </th>
                        <th>
                            Address
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*@await Html.PartialAsync("_StudentList", Model)*@
                </tbody>
            </table>
        </div>
    </div>
    <a class="btn btn-danger" asp-controller="School" asp-action="ShowSchool">
        Back to Back to Report
    </a>
    @section Scripts{ 
        <script type="text/javascript">
            $(document).ready(function () {
                loadList()
            });
            function loadList() {
                $.ajax({
                    url: 'getstudentListBySchool',
                    type: 'get',
                    data: {},
                    success: function (Data) {
                        onSuccess(Data);
                    },
                    error: function () {
                        alert('Data Error');
                    }
                });
            }
            function onSuccess(Data) {
                $('#studentList').DataTable({
                    destroy: true,
                    data: Data,
                    columns: [
                        { "data": "studentId" },
                        { "data": "studentName" },
                        { "data": "studentRollNo" },
                        { "data": "className" },
                        { "data": "schoolName" },
                        { "data": "studentAddress" }
                    ]
                });
            }

        </script>
    }
}
else
{
    <a class="btn btn-primary" asp-action="Login" asp-controller="User">Login Please !</a>
}